[submodule "geowatch_tpl/submodules/torchview"]
	path = geowatch_tpl/submodules/torchview
	url = git@github.com:Erotemic/torchview.git
[submodule "geowatch_tpl/submodules/loss-of-plasticity"]
	path = geowatch_tpl/submodules/loss-of-plasticity
	url = git@github.com:Erotemic/loss-of-plasticity.git
[submodule "geowatch_tpl/submodules/segment-anything"]
	path = geowatch_tpl/submodules/segment-anything
	url = git@github.com:Erotemic/segment-anything.git
[submodule "geowatch_tpl/submodules/shapestats"]
	path = geowatch_tpl/submodules/shapestats
	url = git@github.com:Erotemic/shapestats.git
[submodule "geowatch_tpl/submodules/scale-mae"]
	path = geowatch_tpl/submodules/scale-mae
	url = git@github.com:bair-climate-initiative/scale-mae.git
[submodule "geowatch_tpl/submodules/jsonargparse"]
	path = geowatch_tpl/submodules/jsonargparse
	url = git@github.com:Erotemic/jsonargparse.git
[submodule "geowatch_tpl/submodules/detectron2"]
	path = geowatch_tpl/submodules/detectron2
	url = git@github.com:Erotemic/detectron2.git
